%header.clearfix
  %h1
    React Ecosystem
    %span Companies that use React
.main
  %ul#og-grid.og-grid
    - Company.where(hidden: false).order(:title).to_a.each do |company|
      %li
        = link_to company.site_link, data: {description: company.description, largesrc:  company.company_image.large.url, title: company.title} do
          = image_tag company.company_image.thumb.url, alt: company.title
